<div class='container'>
  <h1>Add a review</h1>
  <%= render "simple_form", restaurant: @restaurant, review: @review %>
  <p><%= link_to 'Back to restaurant', restaurant_path(@restaurant.id) %></p>
</div>
